:host {
    --selection-background-color: rgba(207, 191, 247,0.2);
    --selection-border-color: rgb(207, 191, 247);
}

html, body {
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    inset: 15px;
    padding: 12px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
}
button{
    margin-right: 5px;
}

