.wish-list{
    list-style:none;
    padding: 0 10px;

 }
.wish-list li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 0;
    border-bottom:1px solid #ccc;
}
.wish-list li:last-child{
    border-bottom:none;
}
